.blinking {
  animation-name: blink;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-timing-function: step-end;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
