@keyframes blinkGPT {
  0% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blinkNormal {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.blinkingGPT {
  animation-name: blinkGPT;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-timing-function: step-end;
}

.blinkingNormal {
  animation-name: blinkNormal;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: step-end;
}
